extends layout

block content

  h1= title
  p Welcome to #{title}
 
  .card  
    - for (let i=0 ; i < messages.length; i++){
       div #{messages[0].text}
       div #{messages[0].user}
       div #{messages[0].added}
    -  }
   

 
  